# ===============================
# STM32CubeIDE / Eclipse stuff
# ===============================
/.Debug/
/Release/
/.Projects/
/.cproject
/.project
/.mxproject
/.settings/

# ===============================
# Build artifacts
# ===============================
*.o
*.elf
*.bin
*.hex
*.map
*.axf
*.lst
*.d
*.log

# ===============================
# VS Code editor stuff
# ===============================
.vscode/!.vscode/c_cpp_properties.json

# ===============================
# Temporary / backup files
# ===============================
*~
*.swp
*.tmp
*.bak
*.stackdump

# ===============================
# Build output
# ===============================
/build/

# ===============================
# CMake
# ===============================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake