# ===============================
# MPLAB X IDE stuff
# ===============================
MPLABX_Proj.X/**
!MPLABX_Proj.X/Makefile
!MPLABX_Proj.X/nbproject/
!MPLABX_Proj.X/nbproject/configurations.xml
!MPLABX_Proj.X/nbproject/project.xml

# ===============================
# Build artifacts
# ===============================
*.o
*.elf
*.bin
*.hex
*.map
*.axf
*.lst
*.d
*.log

# ===============================
# VS Code stuff
# ===============================
.vscode/